<div class="shadow col-lg-8 p-3 m-2">
    <form method="GET" action="#">
        <div class="form-group">
            <h4>Point de départ</h4>
            <label for="x0">composante en x du point</label>
            <input type="text" class="form-control" id="x0" name="x0" placeholder="entrez une composante en x0">
            <label for="y0">Composante en y du point</label>
            <input type="text" class="form-control" id="y0" name="y0" placeholder="entrez une composante en y0">
        </div>
        <br>
        <div class="form-group">
            <h4>Le pas </h4>
            <label for="pas"> valeur du pas </label>
            <input type="text" class="form-control" id="pas" name="pas" placeholder="entrez un pas">
        </div>
        <br>
        <div class="form-group">
            <h4>La précision </h4>
            <label for="precision">valeur de la précision </label>
            <input type="text" class="form-control" id="precision" name="precision" placeholder=" entrez une précision ">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>