{% extends 'commons/base.html' %} 

{% load static %}

{% block hTitre %}Simulation des algorithmes de descente{% endblock %}
{% block nDescentePasFixe %} {% url 'pasFixe' %} {% endblock %} 
{% block nPasOptimale %} {% url 'pasOptimale' %} {% endblock %}
{% block nNewtonLocale %} {% url 'newtonLocal' %} {% endblock %}
{% block nGaussNewton %} {% url 'gaussNewton' %} {% endblock %}
{% block nPasWolfe %}  {% url 'pasWolfe' %}  {% endblock %} 
{% block nPasArmijo %}  {% url 'pasArmijo' %}  {% endblock %} 

{% block content %}
     <h3>Bienvenue dans le test des algorithmes de descente appliqué à l' application suivante:</h3> 
     
     <ul>
          <li><h3>f(x,y) = (1/2)x² + (7/2)y² </h3> </li>
     </ul>
{% endblock %}
