{% extends 'commons/base.html' %} 
{% load static %}

{% block title %}
    algorithme a pas fixe
{% endblock %} 
{% block hTitre %}Simulation de l'algorithme à pas fixe {% endblock %}
{% block nPasOptimale %} {% url 'pasOptimale' %} {% endblock %}
{% block nNewtonLocale %} {% url 'newtonLocal' %} {% endblock %}
{% block nGaussNewton %} {% url 'gaussNewton' %} {% endblock %}
{% block nPasWolfe %}  {% url 'pasWolfe' %}  {% endblock %} 
{% block nPasArmijo %}  {% url 'pasArmijo' %}  {% endblock %} 

{% block speaking %} 
    methode consitant a choisi un pas afin de calculer x*
{% endblock %}

{% block formulaire %}
    {% include 'commons/formPas.html' %}
{% endblock %}  
  
{% block content %} 
    {% if ok  %}
        <div>
            <h2> > Le point critique minimun :  </h2>
            <div class="alert alert-success" role="alert">
                {{pointmin}}
            </div>
            <h3> > Nombre d'itérations :  </h3>
            <div class="alert alert-success" role="alert">
                {{nbreIter}}
            </div>
        </div>
    {% else %}
        {% if invalidPas  %}
            <div class="alert alert-danger" role="alert">
                <h2> {{messageError}} </h2>
            </div>
        {% endif %}
    {% endif %}
{% endblock %} 

{% block experimentations %}
    {% if ok  %}
        <section class="bg-light"  >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 style="margin-bottom: 1.75rem;">-> Courbe de pas-iterations </h2>
                        <p>ici on prend des pas variants partant de 0.1 (avec un ecart de 0.01) qui ne permettent d'avoir divergence </p>
                        <div class="container">
                            <canvas id="line-chart"  style="height: 30rem"></canvas>
                        </div>
                        <h2 style="margin-bottom: 1.75rem;">->Tableau representatif </h2>
                        <p>"Div" indique qu'il y'a divergence et dans ce cas les pas varient de 0.1 à 1 avec le meme ecart</p>
                        
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">pas</th>
                                <th scope="col">nombre itérations</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for pas,nbre  in datas %}
                                    <tr>
                                        <td>{{pas}}</td>
                                        <td>{{nbre}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <script src="{%   static 'descente/js/chart.min.js' %}"></script>
        <script>
            var x=JSON.parse("{{x|escapejs}}");
            var y=JSON.parse("{{y|escapejs}}");
            const data = {
                labels: x,
                datasets: [{
                    label: 'nombre d\'itérations',
                    backgroundColor: '#1cb6fd',
                    borderColor: '#1cb6fd',
                    data: y,
                }]
            };
            const config = {
                type: 'line',
                data: data,
            };
        
            window.onload = function() {
                var ctx = document.getElementById('line-chart');
                var ch = new Chart(ctx, config);
            };
        </script>
    {% endif %}
{% endblock %}