{% extends 'commons/base.html' %} 
{% load static %}

{% block title %}
    algorithme a pas Optimal
{% endblock %} 

{% block hTitre %}Simulation de l'algorithme à pas optimale {% endblock %}
{% block nDescentePasFixe %} {% url 'pasFixe' %} {% endblock %}
{% block nNewtonLocale %} {% url 'newtonLocal' %} {% endblock %}
{% block nGaussNewton %} {% url 'gaussNewton' %} {% endblock %}
{% block nPasWolfe %}  {% url 'pasWolfe' %}  {% endblock %} 
{% block nPasArmijo %}  {% url 'pasArmijo' %}  {% endblock %} 

{% block speaking %} 
    <p> methode consitant à utiliser la plus grande pente (à prendre le pas optimal) afin de calculer x* </p>
    <p> Pour notre cas ce pas est donnée par : (xk²+7²yk²)/(xk²+7³yk²)</p>
{% endblock %}

{% block formulaire %} 
    {% include 'commons/formNotPas.html' %}
{% endblock %} 
{% block content %} 
{% if ok  %}
        <div>
            <h2> > Le point critique minimun :  </h2>
            <div class="alert alert-success" role="alert">
                {{pointmin}}
            </div>
            <h3> > Nombre d'itérations :  </h3>
            <div class="alert alert-success" role="alert">
                {{nbreIter}}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block experimentations %}
    {% if ok  %}
        <section class="bg-light"  >
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-8">
                        <h2 style="margin-bottom: 1.75rem;">->Tableau de trace </h2>
                        <p>ici on donne la trace des operations </p>
                        
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">k</th>
                                <th scope="col">f(xk,yk)</th>
                                <th scope="col">|| grad(f(xk,yk))||</th>
                                <th scope="col">sk</th>
                                <th scope="col">xk</th>
                                <th scope="col">yk</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for k,f,norm,s,x,y  in datas %}
                                    <tr>
                                        <th scope="row">{{k}}</td>
                                        <td>{{f}}</td>
                                        <td>{{norm}}</td>
                                        <td>{{s}}</td>
                                        <td>{{x}}</td>
                                        <td>{{y}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
